<figure class="figure mt-4">
    {{#with course}}
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/{{videoId}}" 
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen 
        ></iframe>
        <figcaption class="figure-caption text-end">{{name}}</figcaption>
        <p>{{description}}</p>
    {{/with}}
</figure>